<h1>Listing bounties</h1>
<div class="well">
	<p><span class="lead">Describe what type of track or jingle you are looking for. Set your bounty. Artists and Producers compete for the bounty by submitting the media that gets chosen by the bounty setter.</span></p>
</div>
<% if user_signed_in? %>
	<%= render 'index_table' %>

	<% if current_user.has_role? :admin %>
		<%= render 'admin_table' %>
	<% end %>

<% end %>
<br>

<%= link_to 'New Bounty', new_bounty_path, class: 'btn btn-large btn-block btn-primary' %>
