<div class="row">
	<div class="span9">
		<div class="">
			<p>
				<span class="lead headline">
					<strong>Plex Marketplace</strong> seeks to liberate the business-to-business marketplace for musical artists. 99 Designs did this for the graphic artists and we believe it is the musicians turn.
				<br>
				<br>
					-PlexM.com
				</span>
			</p>
		</div>
		<div class="well">
			<h2>Enter your email to get on the waiting list for the next invite batch.</h2>
			<%= render 'form' %>
		</div>
	</div>
	<div class="span3">
		<div class="alert alert-success">
			<h3><a href="http://igg.me/p/318747/x/2186356">On indiegogo</a></h3>
			<iframe src="http://www.indiegogo.com/project/318747/widget/2186356" width="224px" height="439px" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
</div>
<div class="well featured">
	<p><span class="lead">The Plex Marketplace seeks to liberate the business-to-business marketplace for musical artists. 99 Designs did this for the graphic artists and we believe it is the musicians turn.</span></p>
</div>
<div class="row">
	<div class="span4">
		<div class="well">
			<p><span class="lead">Buy Exclusive Rights to audio recordings on YOUR budget.</span></p>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<p><span class="lead">“PlexM is the ‘99 Designs’ for jingles!”</span></p>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<p><span class="lead">Serving jingles, video game sounds, and any other audio needs.</span></p>
		</div>
	</div>
</div>
<div class="row">
	<div class="span6">
		<a href="http://igg.me/p/318747/x/2186356"><img src="http://d2oadd98wnjs7n.cloudfront.net/medias/625379/primary_pictures/full/20130121121800-BountyPage-indiegogo-01212013.png" /></a>

	</div>
	<div class="span6">
		<div class="well well-small">
			<h3>Are you a Musician, Producer or Engineer?</h3>
			<p><span class="lead">The barriers have been lowered to the commercial music industry. Earn money by winning bounties with your work. Signing up and claiming a bounty is FREE.</span></p>
		</div>

		<div class="well well-small">
			<h3>Need audio?</h3>
			<p><span class="lead">Explain your needs and set a bounty. Interact with artists to get more submissions to choose from. Have your problem solved when you gain exclusive rights to the perfect track.</span></p>
		</div>

	</div>
</div>


<div class="well">
	<p><span class="lead">Major production companies aren’t suitable for all businesses. Let our bounty system find the connections that solve your business’s needs.</span></p>
</div>
<div class="well">
	<h4>Jingles</h4>
	Post a bounty and get many submissions for that new jingle you have been putting off getting.
	<h4>YouTube Videos</h4>
	Link to your soundless video in your bounty and have an audio producer submit their accompanying sound. 
	<h4>Video Game Sounds</h4>
	Quality audio can certainly add value to a video game. Let us find artists that fit your budget.
	<h4>Album Tracks</h4>
	Need tracks to record over for your album? Buy exclusive rights to tracks to use on your next album.
	<h4>Marketing Videos</h4>
	Making the mistake of creating a bland marketing video can cost your dearly. Adding audio can save you from boring your audience. 
	<h4>App Sounds</h4>
	Most apps require a few concise sounds. We can help you find sound effects, background audio, and the artists that produce them.
</div>
