<div class="well well-small">
	<h3>Are you a Musician, Producer or Engineer?</h3>
	<p><span class="lead">The barriers have been lowered to the commercial music industry. Earn money by winning bounties with your work. Signing up and claiming a bounty is FREE.</span></p>
</div>

<div class="well well-small featured">
	<h3>Need audio?</h3>
	<p><span class="lead">Explain your needs and set a bounty. Interact with artists to get more submissions to choose from. Have your problem solved when you gain exclusive rights to the perfect track.</span></p>
</div>

<div class="hero-unit">

	<h3>Enter your email to get on the waiting list for the next invite batch.</h3>

	<%= render 'form' %>

</div>

<div class="well featured">
	<p><span class="lead">The Plex Marketplace seeks to liberate business-to-business marketplace for musical artists. 99 Designs did this for the graphic artists and we believe it is the musicians turn.</span></p>
</div>

<div class="well">
	<p><span class="lead">Buy Exclusive Rights1 to audio recordings on YOUR budget.</span></p>
</div>

<div class="well">
	<p><span class="lead">Major production companies aren’t suitable for all businesses. Let our bounty system find the connections that solve your business’s needs.  </span></p>
</div>

<div class="well">
	<p><span class="lead">“PlexM is the ‘99 Designs’ for jingles!”</span></p>
</div>

<div class="well">
	<p><span class="lead">Serving jingles, video game sounds, and any other audio needs.</span></p>
</div>
