<% unless current_user.has_role? :admin %>
	<% if @user.id == current_user.id %>
		<h1><%= @user.name %>'s Uploads</h1>
		<%= render 'user_uploads' %>
	<% end %>
<% else %>
	<h1><%= @user.name %>'s Admin Panel</h1>
	<%= render 'user_uploads' %>
<% end %>
